asttokens
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
colorama
comm
coverage==7.9.2
debugpy
decorator
executing
future==1.0.0
geocoder==1.38.1
idna==3.10
iniconfig==2.1.0
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
libmagic==1.0
Markdown==3.8.2
markdown-customblocks==1.5.3
matplotlib-inline
nest_asyncio
packaging
parso
pillow==11.3.0
platformdirs
pluggy==1.6.0
prompt_toolkit
psutil
pure-eval
Pygments
pymdown-extensions==10.16
pytest==8.4.1
pytest-cov==3.0.0
python-dateutil
python-magic==0.4.27
python-magic-bin==0.4.14
python-markdown-math==0.9
pywin32==308
PyYAML==6.0.2
pyzmq
ratelim==0.1.6
requests==2.32.4
responses==0.25.7
setuptools==78.1.1
six
soupsieve==2.7
stack-data
tornado
traitlets
typing_extensions==4.14.1
urllib3==1.26.20
wcwidth
wheel==0.45.1
yamlns==0.12.2
